/*
Colors used:
Primary Color (Green): #525747;
Secondary Color (Sage): #A5A58D;
Secondary Color (Brown): #6D432C;
Accent Color (Mint): #B7B7A4;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1D2408;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  text-align: center;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
  
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
    width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #ffffff;
}
a:hover {
  color: #b7b7a4;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:focus {
  color: #b7b7a4;
  text-decoration: underline;
}
a:active { /* selected link */
  color: #525747;
}

.button {
 display: inline-block; 
 background-color: #525747;
 color: #ffffff; 
 font-weight: 400;
 padding: 10px;
 border-radius: 3px;
 border-bottom: 2px solid #000000; 
 transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
 }
.button.contact {
 background-color: transparent;
 color: #525747;
 text-transform: uppercase;
 border: 2px solid #525747;
}
.button.contact:hover {
  background-color: #525747;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}

#work h2 {
  text-align: center;
}

#work h3 {
  text-align: left;
}

#work p {
  text-align: left;
}

center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

.icon {
  max-width: 150px;
}

header {
  background-color: #A5A58D;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
	background: #A5A58D; 
	border: solid #BDBDBD 1px; 
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3)  ; 
}

nav > ul {
  list-style-type: none;
  padding: 20px;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2e2e2e;
}

nav > ul > li > a:visited {
  color: #525747;
}

nav {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #A5A58D;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}

#work {
  background-color: #A5A58D;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

footer {
  background-color: #A5A58D;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 30px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
    padding: 50px 0px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  #about-page h3 { margin-top: 0;}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

.button {
  display: inline-block;
  background-color: #525747;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #6D432C;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  from {fill: #dfe9fd;}
  to {fill: #6c85bd;}
}

.cloud {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {transform: translate(0,0px);}
  to {transform: translate(200px,0px);}
}

.clouds {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}